<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mes actus</title>
</head>
<body>
    Mes actus : <br>
    <th:block th:each="actu : ${news}">
        <span th:text="${actu.titre}"></span>
        <br/>
        <span th:text="${actu.description}"></span>
        <br/>
        <span th:text="${actu.date}"></span>
        <br/>
        <img th:src="@{images/{path}(path=${actu.image})}"/>
    </th:block>
</body>
</html>