@import url("style.css"); /* CSS pour les éléments "fixes" de la page */

/* ----------------------- Contenu de la page ------------ */
.forminput {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 2.5em;
    border-radius: 0.25em;
    padding: 1em;
    box-sizing: border-box;
    border:none;
    overflow-wrap: break-word;
    background-color: transparent;
    color: black;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

.forminput:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.minibox {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border-radius: 0.25em;
    padding: 0.9em;
    font-size: 0.8em;
    display: inline-block;
    box-sizing: border-box;
    border:none;
    background-color: transparent;
    color: black;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

input[type=radio] + label {
    margin: 0.2em;
    color: black;
    cursor: pointer;
    padding: 0.2em;
}
  
input[type=radio] {
    display: none;
}
  
input[type=radio] + label:before {
    content: "\2714";
    border: 1px solid black;
    border-radius: 20%;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}
  
input[type=radio]:checked + label:before {
    background-color: #2dcc70;
    border-color: #2dcc70;
    color: #fff;
}

.label {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
    color: black;
}

.box2 select {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 2.5em;
    border-radius: 0.25em;
    padding: 0.5em;
    box-sizing: border-box;
    border:none;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
    color: black;
}
  
.box2 select option {
    padding: 30px;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}
  
.textarea1 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 1%;
    border-radius: 0.25em;
    box-sizing: border-box;
    border:none;
    background-color: transparent;
    color: black;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

.textarea2 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 7em;
    padding: 1%;
    border-radius: 0.25em;
    box-sizing: border-box;
    border:none;
    overflow-wrap: break-word;
    background-color: transparent;
    color: black;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}
::placeholder {
    color: black
}

fieldset {
    border: none;
    text-align: center;
    padding: 2em;
    border-radius: 1em;
}

.boutonEnvoyer {
    font-family: 'Roboto', sans-serif;
    width: 10%;
    padding: 1%;
    border-radius: 0.25em;
    box-sizing: border-box;
    border:none;
    overflow-wrap: break-word;
    background-color: #2dcc70;
    color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

.boutonEffacer {
    font-family: 'Roboto', sans-serif;
    width: 10%;
    padding: 1%;
    border-radius: 0.25em;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    overflow-wrap: break-word;
    background-color: #949494;
    color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

.boutonEnvoyer:hover {
    font-family: 'Roboto', sans-serif;
    width: 10%;
    padding: 1%;
    border-radius: 0.25em;
    box-sizing: border-box;
    border:none;
    overflow-wrap: break-word;
    background-color: #32e77e;
    color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

.boutonEffacer:hover {
    font-family: 'Roboto', sans-serif;
    width: 10%;
    padding: 1%;
    border-radius: 0.25em;
    box-sizing: border-box;
    border:none;
    overflow-wrap: break-word;
    background-color: #aaaaaa;
    color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

.icon {
    width: 70%;
}

.box3 {
    display: flex;
}

.gauche {
    flex : 1 1 0;
    text-align: left;
    margin-right: 1em;
}

.droite {
    flex: 1 1 0;
    text-align: left;
    margin-left: 1em;
}

.leftalign {
    text-align: left;
}

.pagedroite {
    background-image: url("/ING1GI1-AGOUSSAL-CLIPET/LeCoinPhoto/img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.texte {
    padding: 1em;
    font-size: 0.8em;
    margin: auto;
    border-radius: 1em;
    backdrop-filter: blur(15px);
}

.error {
    color: red;
}

.rouge{
    border:solid;
    border-color: red;
}

#envoi{
    visibility: hidden;
}