/* Bouton cliqu� */
.btnclick {
    -moz-box-shadow:    inset 0 0 10px #00000066;
    -webkit-box-shadow: inset 0 0 10px #00000066;
    box-shadow:         inset 0 0 10px #00000066;
}

/* ----------------------- Contenu de la page ------------ */

.backgroundimage {
    background-image: url("../img/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}