@import url("style.css"); /* CSS pour les éléments "fixes" de la page */

/* ----------------------- Contenu de la page ------------ */

input[type=radio] + label {
    color: black;
    cursor: pointer;
}
  
input[type=radio] + label:before {
    content: "\2714";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
}

.box2 select {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 2.5em;
    border-radius: 0.25em;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: rgba(250,250,250,0.5);
    resize: none;
    color: #A9A9A9;
}
  
.box2 select option {
    padding: 30px;
    color: #A9A9A9;
    background-color: rgba(250,250,250,0.5);
    border: none;
    font-family: 'Roboto', sans-serif;
}

.pagedroite {
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.error {
    color: red;
}

.rouge{
    border:solid;
    border-color: red;
}

#envoi{
    visibility: hidden;
}