@import url("style.css"); /* CSS pour les éléments "fixes" de la page */

/* ----------------------- Contenu de la page ------------ */

/* Désactivation des boutons d'origine du input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control {
    flex: 1 1 0;
    text-align: center;
    border: none;
    background-color: #e5e5e5;
    color: black;
}
.form{
    display: flex;
    height: 1.5em;
    width: 100%;
}