@import url("style.css"); /* CSS pour les éléments "fixes" de la page */

/* ----------------------- Contenu de la page ------------ */

.boutonSupprCategorie {
    font-family: 'Roboto', sans-serif;
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 1.4em;
    border-radius: 0.75em;
    box-sizing: border-box;
    border:none;
    overflow-wrap: break-word;
    background-color: #666666;
    color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
    resize: none;
}

.boutonSupprCategorie:hover {
    background-color: #e73232;
}